.head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  letter-spacing: 2px;
}
h5 {
  font-size: 25px;
  color: white;
}
button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.active {
  border-bottom: 2px solid red;
}
@media screen and (max-width: 670px) {
  .head {
    display: block;
    text-align: center;
  }
}
